*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.95);
    background-color: #02364b;
}

header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
}
header > img {
    width: 80vw;
}

h1 {
    margin: 20px;
    color: #da3215;
    font-size: 45pt;
    font-family: The Foregen Rough One, Arial;
}

main>p {
    color: white;
    width: 70vw;
    margin: auto;
    padding-top: 70px;
    font-size: 18pt;
    line-height: 1.5em;
    font-style: normal;
}
main> form {
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap: 0.5em;
    width: 350px;
    margin: 20px auto;
    margin-top: 50px;

}
label{
    color: #f3d632;
    text-align: center;
    font-size: 18px;

}
main >form >fieldset {
    border: none;
}
main > form > input , main > form > fieldset > button  {
    height: 2em;
}
main > form >  input {
    width: 350px;
    height: 40px;
    border:none;
    border-bottom: 1px solid  rgb(172, 172, 172) ;
    border-radius:2px ;
}
input::placeholder {
    font-style: italic;
    text-align: center;
  }
  
main > form >  button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #02364b;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 80px;
}
/*{
    font-size: 14pt;
    color: rgba(0, 0, 0, 0.50);
    transition:all 0.5s;
}*/
button > div {
    background-color: #da3215;
    height: 50px;
    width: 50px;
    margin-top: -35px;
    border-radius: 50%;
    visibility: hidden;
    z-index: -1;
    transition: all 0.5s;
}
main img {
    width: 50px;
    margin-bottom: -20px;
    z-index: +1;
    transition: all 1s;
}
main > form > button:hover div{
    visibility: visible ;
   
}
main > form >  button:visited img{
    visibility:hidden;
   
}
footer{
    background-color: white;
    height: 50px;
    width:100vw;
    padding:2em
}
footer >  p{
    text-align: center;
    font-style: italic;
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.60);
}

@media only screen and (min-width:768px) {
    img{
        max-width: 500px;
    }
    header {
        align-items: center;
    }
}
